body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
#box{
  background-color: dimgray;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: auto;
}
#grid{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  margin: 0.5px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
.column {
  background-color: white;
  margin: 0.5px;
  width: 32px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}