body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#box{
  background-color: dimgray;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* padding: 16px; */
  width: auto;
  /* min-width: 95vh; */
  /* flex: 1 0 auto; */
}

#grid{
  /* background-color: dimgray; */
  margin: 5px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 16px;
  padding: 16px; */
  /* max-width: auto; */
  min-width: 90vh;
  /* flex: 1 0 auto; */
  /* flex-shrink: 0; */
}

/* .row, .columnn { */
.row {
  /* background-color: white; */
  margin: 0.5px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.columnn {
  background-color: white;
  margin: 0.5px;
  width: 48px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* gap: 1px; */
  /* border-radius: 6px; */
  /* color: white; */
}